.Wrapper{
   display: flex;
   flex-wrap: wrap;
   min-height: 15rem;
   justify-content:space-around;
   align-items: flex-start;
}
.card{
    margin: 1rem;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(123, 49, 49, 0.5);
    transition: 0.5s ease-in-out;
    padding: 1rem;
}
.card h4{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;

}
.card p{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;

}
.card h6{
    font-size: 10px;
    line-height: 20px;
}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,purple,rgba(208, 107, 219, 0.474),rgba(95, 94, 94, 0.408));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    font-family: "Montserrat", sans-serif !important;
    text-align: start;
    font-size: 12px;

}
.card:hover .info{
   opacity: 1;
   transform: translateY(0px);
   padding: 0.1rem;
}
 .info .btn{
    background-color: rgb(21, 142, 248);
}

@media(max-width:700px) {
    .card{
        width: 25rem;
        height: 15rem;
        margin: 1rem 0.5rem;
        padding: 0.2rem;
        background-color: black;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0 ,0 ,.5);
        transition: 0.5s ease-in-out;
    }
    .card:hover{
        transform: translateY(20px);
    }
    .card:before{
        content:"";
        position: absolute;
        top:0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(to bottom,purple,gray); */
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    .card:hover:before{
        opacity: 1;
    }
    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .card .info{
        position: relative;
        z-index: 9;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
        font-family: "Montserrat", sans-serif !important;
        text-align: start;
        font-size: 10px;
    
    }
    .card:hover .info{
       opacity: 1;
       transform: translateY(0px);
       padding: 0.1rem;
    }
     .info .btn{
        background-color: rgb(21, 142, 248);
        font-size: 5px;
    }
    .card h4{
        font-size: 10px;
        font-family: "Montserrat", sans-serif;
    
    }
    .card p{
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
    
    }
    .card h6{
        font-size: 10px;
        line-height: 13px;
    }
}
@media(max-width:900px) {
    .card{
        min-width: 15rem;
        max-width: 19rem;
        height: 12rem;
        margin: 1rem 0.5rem;
        padding: 0.2rem;
        background-color: black;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0 ,0 ,.5);
        transition: 0.5s ease-in-out;
    }
    .card:hover{
        transform: translateY(20px);
    }
    .card:before{
        content:"";
        position: absolute;
        top:0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,rgb(91, 90, 90),gray);
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    .card:hover:before{
        opacity: 1;
    }
    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .card .info{
        position: relative;
        z-index: 9;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all;
        font-family: "Montserrat", sans-serif !important;
        text-align: start;
        font-size: 10px;
    
    }
    .card:hover .info{
       opacity: 1;
       transform: translateY(0px);
       padding: 0.1rem;
    }
     .info .btn{
        background-color: rgb(21, 142, 248);
        font-size: 5px;
    }
    
}
@media(min-width:900px) {
    .card{
        width: 21rem;
        height: 12rem;
       
        background-color: black;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0, 0 ,0 ,.5);
        transition: 0.5s ease-in-out;
    }
    
    
}