.NavNav {
  top: 0;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid gray;
  background-color: blue;
}
.title{
    color: #fff;
}
.Navbar-items {
  font-size: 15px;
  color: #000;
  display: flex;
  height: 2rem;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  color: #fff;
 
}
.but{
    color: #fff !important;
    border: 1px solid #fff !important;
}
.Navbar-items p {
    padding-top: 0.3rem;
    padding-right: 1rem;
   margin: 0;
}

@media (max-width: 1000px) {
  .NavNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Navbar-items {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
