.Blog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.blogcard {
  width: 25rem;
  margin: 0.5rem;
  box-shadow: 0.5px 0.5px 10px rgba(128, 0, 128, 0.162);
  border-radius: 1rem;
  height: 32rem;
}
.Blogdata {
  padding: 0.8rem;
}
.Blogdata h3 {
  line-height: 22px;
  font-weight: 700;
  text-align: justify;

}
.Blogdata h4 {
  font-size: 14px !important;
  color: grey;
  line-height: 18px;
  text-align: justify;
}
.Blogdata h5 {
  background-color: purple;
  width: fit-content;
  padding: 0.5rem;
  line-height: 10px;
  color: #fff;
  border-radius: 1rem;
  margin: 0;
}
.Blogdata h6{
  font-size: 12px;
  color: gray;
  line-height: 1px;
}
.Blogdata button {
  border: none;
  background-color: #fff;
  color: purple;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 1px;
}

.blogcard img {
  width: 25rem;
  height: 15rem;
}
.hello {
  text-align: center;
}
.hello h3 {
  font-size: 40px;
  color: purple;
  margin-left: 2rem;
  line-height: 1px;
}
.hello p {
  font-size: 20px;
  color: grey;
  padding: 0 10rem;
}

@media (max-width: 700px) {
  .hello p {
    padding: 0 3rem;
    font-size: 15px;
  }
}
