.animate__animated.animate__lightSpeedInLeft {
    --animate-duration: 10s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  