@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* body {
  background-color: #000 !important;
  color: white !important;
} */
body{
  font-family: "Montserrat", sans-serif !important;
}
.Navbar {
  display: flex !important;
  flex-direction: row !important;
  background-color: transparent !important;
  height: 6rem !important;
  margin-top: 2rem;
  box-shadow: none !important;
  /* position: fixed !important; */
  z-index: 9999 !important;
  justify-content: space-between;

}

.Navbar-title {
  display: flex !important;
  justify-content: flex-start !important;
  min-width: 55% !important;
  line-height: 3.8rem !important;
  font-size: 50px !important;
  color: purple;
  font-family: "Comforter Brush", cursive !important;
  padding-left: 1rem;
}
.Nav-items {
  line-height: 3.5rem !important;
  font-weight: 400 !important;
  display: flex;
}
.Nav-items a {
  text-decoration: none !important;
}
.btn {
  border-radius: 0 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  width: auto !important;
  margin: 0 0.5rem !important;
  text-decoration: none !important;
  color: purple !important;
}
.btn:hover {
  border-bottom: 3px solid rgb(20, 19, 20) !important;
  background-color: rgb(86, 48, 86) !important;
  color: #fff !important;
  text-decoration: double !important;
}

/* /////////////////////////////////////////Landing page//////////////////// */

.Landing {
  width: 100% !important;
  display: flex !important;
  /* padding: 1rem 2rem !important; */
  flex-direction: row !important;
  /* margin: 0 auto !important; */
  grid-template-columns: 1.5fr 1fr !important;
  height: auto !important;
}
.Naming {
  height: auto;
  padding: auto !important;
  margin-right: 2rem;
}
.Naming h3 {
  font-size: 22px;
  letter-spacing: 0.1rem;
  font-weight: 100 !important;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  letter-spacing: 5px;
}
.Naming h3 span {
  font-family: "Montserrat", sans-serif !important;
  font-size: 48px !important;
  font-style: normal !important;
  margin-top: 0 !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: purple;
}

.Naming p {
  font-size: 17px !important;
  font-weight: 100 !important;
  font-family: "Montserrat", sans-serif !important;
  margin: 0 !important;
  line-height: 25px;
  width: 100%;
  text-align: justify;
}
.Image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Image img{
  height: 30rem;
  width: 33rem;
  margin-left: 2rem;

}
.button {
  background-color: white;
  width: 12rem;
  height: 2.8rem;
  border: 0.5px double black !important;
  font-family: "Montserrat", sans-serif !important;
  color: rgb(21, 20, 20);
  text-decoration: none;
  font-size: 18px;
  margin-top: 1rem;
  margin-right: 0.4rem;
}
.button:hover {
  /* background-color: rgb(81, 40, 81); */
  background-color: purple;
  color: white;
  cursor: pointer;
}
/* ////////////////////////////////////////////////////////About me //////////////////////////////////////////////// */

.Grid {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(150px auto);
  padding: 2rem;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content";
  width: 92%;
  margin-top: 3rem !important;
  text-align: justify;

  /* background-color: bisque; */
}
.one {
  grid-column-start: 1;
  grid-column-end: 3;
  /* border: 3px solid rgba(0, 128, 0, 0.421); */
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  /* box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162); */

  margin: 0.5rem;
}
.one img {
  height: 66px;
  width: 70px;
  box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162);
  padding: 1rem;
  border-radius: 1rem;
  /* display: none; */
}
.one h3 {
  line-height: 1px;
  color: purple;
  font-weight: 800;
  font-size: 25px;
}
.Link {
  text-decoration: none !important;
  font-size: 20px;
  color: purple;
  font-weight: 600;
}

.two {
  min-height: 15rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* box-shadow: 0.5px 0.5px 10px 2px rgba(128, 0, 128, 0.162); */
  margin: 0.5rem;
}
.two h3 {
  line-height: 1px;
  color: purple;
  font-weight: 800;
  font-size: 25px;
}
.two img{
  box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.three {
  min-height: 15rem;
  height: auto;
  /* border: 3px solid rgba(0, 128, 0, 0.421); */
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(238, 232, 170, 0.377); */
  justify-content: center;
  align-items: flex-start;
  /* box-shadow: 0.5px 0.5px 10px 2px rgba(128, 0, 128, 0.162); */

  margin: 0.5rem;
}
.three h3 {
  line-height: 1px;
  color: purple;
  font-weight: 800;
  font-size: 25px;
}
.three img{
  box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.four {
  /* border: 3px solid rgba(0, 128, 0, 0.421); */
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgba(152, 251, 152, 0.382); */
  /* box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162); */
  margin: 0.5rem;
}
.four img{
  box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162);
  padding: 1rem;
  border-radius: 1rem;
}
.four h3 {
  line-height: 1px;
  color: purple;
  font-weight: 800;
  font-size: 25px;
}
.five {
  /* border: 3px solid rgba(0, 128, 0, 0.421); */
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgba(222, 234, 90, 0.434); */
  /* box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162); */
  margin: 0.5rem;
}
.five h3 {
  line-height: 1px;
  color: purple;
  font-weight: 800;
  font-size: 25px;
}
.five img{
  box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162);
  padding: 1.3rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

/* ////////////////////////////////// */
.Projects {
  font-family: "Montserrat", sans-serif !important;
  margin-top: 4rem;
  padding-top: 1rem;
}
.Projects h1 {
  font-size: 28px !important;
  font-family: "Montserrat", sans-serif !important;
  margin-left: 2rem;
  line-height: 10px !important;
  text-transform: uppercase;
  color: rgb(39, 37, 39) !important;
  text-align: center;


}
.See{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  padding: 0 2rem;
}
.Button{
  height: 3rem;
  width: 10rem;
  font-size: 20px;
  background-color: purple;
  color: #fff;
  border: none;
  cursor: pointer;
}
.Project-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.Projects small{
  display: none;
}
/* //////////////////////////////////////Contact///////////////////////// */

.Contact {
  display: flex;
  margin: 0 2rem;
  /* background:linear-gradient(to right , rgb(194, 98, 98),rgba(189, 180, 180, 0.256)); */
  text-align: center;
}
.Touch {
  width: 50%;
}
.contact-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.contact-form input{
  font-size: 17px;
  padding: 0.1rem;

}
.contact-form textarea{
  font-size: 20px;
  padding: 0.5rem;
}
.contact-form label{
  font-size: 40px;
  font-weight: 800;
  color: purple;
}
.Name {
  /* width: 30rem; */
  border: 2px solid purple;
  margin: 0.8rem 0;
  height: 3rem;
  padding: 2px;
  border-radius: 10px;
}
.Message {
  min-height: 8rem;
  width: 30rem;
}
.Touch h2 {
  margin-top: 4rem;
  font-size: 70px;
  line-height: 8px;
  /* text-align: center; */
}
.Touch h3 {
  font-size: 50px;
  color: purple;
  line-height: 0.5px;
  /* text-align: center; */
  margin-left: 2rem;
}
.Touch img{
  width: auto;
  margin: auto;
  height: auto;

}
.submit {
  height: 3rem !important;
  background-color: purple !important;
  text-decoration: none !important;
  width: 8rem !important;
  color: white !important;
  border-radius: 10px !important;
}



.Middle h6{
   color: purple !important;
   margin: 3rem 0 !important;
   font-size: 40px !important;
   text-transform: none !important;
   text-align: center;
}
.Middle-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-top{
  width: 24rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-top h4{
  color: purple;
  font-size: 20px;
  line-height: 10px;
}
.contact-top h5{
  font-size: 20px;
  color: purple;
  font-weight: bolder !important;
}
.contact-top img{
  padding: 1rem;
  box-shadow: 0.5px 0.5px 10px  rgba(128, 0, 128, 0.162);
  border-radius: 1rem;
}

/* ////////////////////////////////media query/////////////// */

/* ///////////////////////////////Mobile Screen//////////////////// */
@media (max-width: 700px) {
  .Navbar {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 !important;
    box-shadow: 1px 1px gray;
    width: 100% !important;
    padding: 0 !important;
  }
  .Navbar-title {
    width: 100% !important;
    text-align: center;
    font-size: 39px !important;
    padding: 0 !important;
  }
  .Nav-items{
    margin: 0.1rem;
    /* background-color: rgb(232, 198, 232); */
  }
  .btn {
    font-size: 9px !important;
    width: 1.7rem !important;
    margin: 0 0.7rem !important;
    text-decoration: none !important;
    /* border: 1px solid black !important; */
    /* background-color: #fff !important; */
  }
  .btnn {
    font-size: 12px !important;
    width: 2rem !important;
    margin: 0 !important;
  }
  .button {
    width: 8rem;
    font-size: 15px;
    height: 2rem;
  }
  .Landing {
    flex-direction: column-reverse;
  }
  .Naming {
    margin-top: 1rem !important;
    width: 100%;
  }
  .Naming h3 {
    font-size: 15px !important;
  }
  .Naming h4 {
    font-size: 14px !important;
  }

  .button {
    width: 8rem !important;
  }

  .Projects h1 {
    font-size: 28px !important;
    font-weight: 800 !important;
    text-align: center;
    font-family: "Montserrat", sans-serif !important;
    margin-left: 0 !important;
  }
  /* .AS h1 {
    display: none;
  } */
  .Projects small {
    display: none;
  }
  .Project-items {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .Contact {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .contact-form {
    margin: 0;
    padding: 0;
  }
  .Touch {
    width: 100%;
    text-align: center;
  }
  .Touch h2 {
    font-size: 35px;
    line-height: 50px;
    width: 100%;
    margin: 0;
  }
  .Touch h3 {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
    margin: 0;
  }
  .Touch img{
   width: 70%;
  }
  .Name {
    width: 20rem !important;
  }
  .Grid {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .one {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 8rem;
  }
  .two {
    min-height: 8rem;
  }
  .three {
    min-height: 5rem;
  }
  .four {
    min-height: 8rem;
  }
}

/* ??????????????????/////// Tablet Screen/////////////////??????? */
@media (max-width: 1000px) {
  .Navbar {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 0;
    margin-bottom: 1rem !important;
  }
  .Navbar-title {
    width: 100% !important;
    text-align: center;
    font-size: 39px !important;
    padding: 0 !important;
  }
  .Nav-items {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .Landing {
    flex-direction: column-reverse;
    padding: 1rem !important;
  }
  .Naming {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
  .Naming h3 {
    font-size: 30px;
    font-weight: 600 !important;
    margin-bottom: 1rem;
  }
  .Naming h3 span {
    font-size: 2rem !important;
    font-weight: 700 !important;
    color: purple;
  }
  .Naming p {
    text-align: justify;
    height: auto;
  }

  .button {
    width: 10rem;
  }
  /* .Image img {
    width: 70%;
    height: 20%;
  } */

  .Projects h1 {
    font-size: 30px !important;
    font-weight: 800 !important;
    font-family: "Montserrat", sans-serif !important;
    text-align: center;
    margin-left: 0 !important;
  }
  .AS h1 {
    display: none;
  }
  .Projects small {
    display: none;
  }
  .Project-items {
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .Contact {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .contact-form {
    margin: 0;
    padding: 0;
  }
  .Touch {
    width: 100%;
    text-align: center;
  }
  .Touch h2 {
    font-size: 35px;
    line-height: 50px;
    width: 100%;
    margin: 0;
  }
  .Touch h3 {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
    margin: 0;
  }
  .Name {
    width: 30rem;
  }
  .Grid {
    width: 100%;
    margin: 0.1rem;
    padding: 0;
  }
}

/* //////////////////////////////////////// Laptop Screen////////////////////////////// */
@media (max-width: 1280px) {
  .Naming h3 {
    font-size: 20px;
  }
  .Naming h3 span {
    font-size: auto;
  }

  .Image img {
    width: 70%;
    height: auto;
  }

  .Projects h1 {
    font-family: "Montserrat", sans-serif !important;
  }
  .Project-items {
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .Contact {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .contact-form {
    margin: 0;
    padding: 0;
  }
  .Touch {
    width: 100%;
    text-align: center;
  }
  .Touch h2 {
    font-size: 35px;
    line-height: 50px;
    width: 100%;
    margin: 0;
  }
  .Touch h3 {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
    margin: 0;
  }
  .Name {
    width: 20rem !important;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 90% !important;
    margin: 0 4rem !important;
    padding: 0 2rem;
  }
  .Naming {
    padding: 7rem 0;
  }
  
  .btnn {
    font-size: 40px;
  }
  .Name {
    width: 30rem !important;
  }
}

/* /////////////////////////////////// Additional Queries//////////////////////////////// */


