.Login-Main {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Log-tab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: gainsboro;
}
.box {
  width: 18rem;
  background-color: #fff;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid silver;
}
.box h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  font-weight: 300;
}
.box img {
  width: 3rem;
  height: 4rem;
  text-align: center;
}
.Tab {
  height: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}
.Tab label {
  font-size: 30px;
  padding-top: 1rem;
  margin-right: 1rem;
}
.Tab input {
  height: 2rem;
  margin-top: 1rem;
}
.but {
  height: 1.8rem;
  margin-top: 1rem;
  width: 5rem;
  margin-left: 2rem;
}
